.textGradient{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	width:200px;
	height:110px;
	background-color:rgba(0,0,0,0.3);
	border-radius: 5px;
}
.textGradient .btns{
	left:0;
	right:0;
	margin:auto;
	width: 80%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	text-transform: capitalize;
	background-color:white;
	margin-top:5px;
}